img {
  border: 2px solid #DADADA;
}
#translation {
  font-size: 2em;
}
nav {
  padding: 2em;
}
a:link, a:visited {
  opacity: .8;
  transition: opacity .25s ease-in-out;
}
a:hover, a:active {
  opacity: 1;
}
a svg {
  fill: var(--color-primary);
}
.listings {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.listings a {
  text-decoration: none;
  display: flex;
  align-items: center;
  border: 2px solid #ababab;
  padding: 1em;
}
.icon {
  flex: 0 1 25%;
  text-transform: uppercase;
}
.listings a p {
  flex: 1 0 75%;
}